body{
	min-width:1009px;
	min-height: 400px;
}
#back{
	
}
header{
	height:120px;
	background-color:#C5EBFF;
	margin: 0px;
	padding: :0px;
	width: auto;
}
#foot{
	height:120px;
	margin: 0px;
	padding: :0px;
	width: 1400px;
	background-image: url("../images/扎染2.jpg") ;
	background-size: 30%;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
img{
	width: 120px;
	height: 120px;
  border-radius: 50%;
  float:left;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    --background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.display-table{
	display: table;
}
}
.table-cell{
	display: table-cell;
	vertical-align:center;
}
.container{
	margin:0px;
}
#table-row{
	display: table-row;
}
section#intro,section#other,section#vd{
	display: table-cell;
	vertical-align: top;
	height: auto;
} 
section#intro{
	width: 40%;
}
section#vd{
	width:55%;
}
section#other{
	width:5%;
}
#vd{
	background-image:url("../images/back/扎染1.jpg");
	opacity:90%;
	background-size:100% 50%;
}
h3,h2{
	color: gray;
	text-align:center;
	margin:0px;
}
p{
	text-indent:2em;
}